.custom-container{
	color : black;
}


.container {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.clear-text {
    font-size: 12px;
    color: #0070d2;
    cursor: pointer;
}

.clear-text:hover {
    color: #0050a0;
}